title  = "Demonstration"
url    = "/order/payment/:code"
layout = "default"
==
function onEnd() {
	$order 		   = \Startx\Transaction\Models\Transaction::whereCode($this->param('code'))->first();
	$this['order'] = $order;

	\Midtrans\Config::$serverKey   = env('MIDTRANS_SERVER');
    $this['mt_client']  		   = env('MIDTRANS_CLIENT');
    $params             = array(
        'transaction_details' => array(
            'order_id'     => $order->code,
            'gross_amount' => (int) $order->total,
        )
    );

    $snapToken        = \Midtrans\Snap::getSnapToken($params);
    $this['mt_token'] = $snapToken;
}
==
<div class="container">
	<h1>{{ order.code }}</h1>
	<p>{{ order.status }}</p>
</div>

{% put scripts %}
<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{ mt_client }}"></script>
<script type="text/javascript">
$(document).ready(function() {
	snap.pay('{{ mt_token }}', {
	// Optional
	onSuccess: function(result){
		window.location.href = '/order/finish/{{ order.code }}'
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	},
	// Optional
	onPending: function(result){
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	},
	// Optional
	onError: function(result){
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	},
	onClose: function() {
		window.location.href = '/order/finish/{{ order.code }}'
	}
	});
})
</script>
{% endput %}
